

.view-button{
    background-color: #2d78fa;
    padding-left: 30px;
    padding-right: 30px;
    color: white; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 0px;

}
.main-container{
    min-height: 120vh;
    flex-wrap: wrap;
    padding: 50px;
}
.list-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;

  
}
@media screen and (max-width:1280px){
    .list-container{
        display: flex;
        
        
    }
}

@media screen and (max-width:820px){
    .list-container{
        display: flex;
    }
}

@media screen and (max-width:576px){
    .list-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.list-item{
    height: 60vh;
    width: 20%;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px;

}
@media screen and (max-width:1280px){
    .list-item{
        width:27%;
        height:70vh;
    }
}


@media screen and (max-width:1024px){
    .list-item{
        width:27%;
        height:80vh;
    }
}

@media screen and (max-width:912px){
    .list-item{
        width: 42%;
        height: 45vh;
    }
}

@media screen and (max-width:820px){
    .list-item{
        width: 42%;
        height: 45vh;
        
    }
}

@media screen and (max-width:768px){
    .list-item{
        width: 30%;
        height: 40vh;
    }
}

@media screen and (max-width: 576px){
    .list-item{
        width: 80%;
        height: 50vh;
        align-items: center;
        justify-content: center;

    }
}










.show-image{
    height: 180px;

}
.title{
    margin-top: 6px;
}